.chatScreen__message {
  display: flex;
  align-items: center;
  padding: 20px;
}

.chatScreen__text {
  margin-left: 20px;
  background-color: lightgray;
  padding: 15px;
  border-radius: 20px;
}

.chatScreen__timestamp {
  text-align: center;
  padding: 20px;
  color: lightgray;
}

.chatScreen__textUser {
  margin-left: auto;
  background-color: #29b3cd;
  padding: 15px;
  border-radius: 20px;
}

.chatScreen__input {
  display: flex;
  position: fixed;
  bottom: 0;
  padding: 5px;
  width: 100%;
  border-top: 1px solid lightgray;
}

.chatScreen__input > input {
  padding: 10px;
  flex: 1;
  border: none;
  outline: none;
}

.chatScreen__input > button {
  border: none;
  outline: none;
  color: #fe3d71;
  margin-right: 20px;
  font-weight: 600;
  background-color: white;
  cursor: pointer;
}
